body {
  width: 100%
}

p {
  text-align: justify;
  font-family: 'Alegreya', 'Book Antiqua', serif;
  font-weight: 400;
  color: #333333;
  line-height: 20px;
  font-size: 14.5px;
  line-height: 17px;
}

h1 {
  font-size: 40px;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
  letter-spacing: -3px;
  color: #4d4d4d;
  text-transform: uppercase;
  text-align: center;
}

.tekst {
  width: 700px;
  padding-left: 30%;
  padding-top: 50px;
}

#map {
  height: 600px;
  width: 100%;
  border: solid 1px;
}
